@model List<PersonPhoneBookEntry>

<h3>Search for a Phone Book Entry</h3>
<hr />
<p class="info-text">Please fill in at least one field and the press "Search"-Button.</p>
<br>
<br>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchFirstName" class="control-label">First Name</label>
                <input name="SearchFirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="SearchLastName" class="control-label">Last Name</label>
                <input name="SearchLastName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="SearchEmailAddress" class="control-label">Email Address</label>
                <input name="SearchEmailAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label for="SearchPostalCode" class="control-label">Postal Code</label>
                <input name="SearchPostalCode" class="form-control" />
            </div>
            <div class="form-group">
                <label for="SearchStreetName" class="control-label">Street Name</label>
                <input name="SearchStreetName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="SearchStreetNumber" class="control-label">Street Number</label>
                <input name="SearchStreetNumber" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.Count != 0)
{
    @if (Model[0].FirstName != null)
    {
        <table id="entries">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email Adress</th>
                <th>Postal Code</th>
                <th>Street</th>
                <th>Street Number</th>
            </tr>
            @foreach (PersonPhoneBookEntry phoneBookEntry in Model)
            {
                <tr>
                    <td>@phoneBookEntry.FirstName</td>
                    <td>@phoneBookEntry.LastName</td>
                    <td>@phoneBookEntry.PhoneNumber</td>
                    <td>@phoneBookEntry.EmailAdress</td>
                    <td>@phoneBookEntry.PostalCode.ToString()</td>
                    <td>@phoneBookEntry.StreetName</td>
                    <td>@phoneBookEntry.StreetNo.ToString()</td>
                </tr>
            }
        </table>
    }
}
else
{
    <br>
    <br>
    <p>Sorry, no results fitting given information where found.</p>
}